NPRG-036-HW3-T1G4/xml/schemas/schema-1.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xml:lang="en">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="https://www.w3.org/2009/01/xml.xsd" />
  <!-- Leaf nodes -->
  <xs:element name="username" type="xs:string" />
  <xs:element name="isbot" type="xs:boolean" />
  <xs:element name="kd" type="xs:decimal" />
  <xs:element name="color" type="xs:string" />
  <xs:element name="condition" type="xs:decimal" />
  <xs:element name="skinname" type="xs:string" />
  <xs:element name="teamname" type="xs:string" />
  <xs:element name="emailaddress" type="xs:string" />
  <xs:element name="creationdate" type="xs:date" />
  
  <!-- Attributes -->
  <xs:attribute name="matchid" type="xs:integer" />
  <xs:attribute name="date" type="xs:dateTime" />
  <xs:attribute name="characterid" type="xs:string" />
  <xs:attribute name="skinid" type="xs:string" />
  <xs:attribute name="teamid" type="xs:string" />
  <xs:attribute name="userid" type="xs:string" />
  
  
  <!--Inner nodes -->
  <xs:element name="match">
    <xs:complexType>
      <xs:attribute ref="matchid" use="required"/>
      <xs:attribute ref="date"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="matches">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="match" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="player">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="username" />
        <xs:element ref="color"/>
        <xs:element ref="isbot"/>
        <xs:element ref="kd"/>
        <xs:element ref="team"/>
      </xs:sequence>
      <xs:attribute ref="characterid" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="players">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="player" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="skin">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="skinname" />
        <xs:element ref="condition"/>
      </xs:sequence>
      <xs:attribute ref="skinid" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="skins">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="skin" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="team">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="teamname" />
      </xs:sequence>
      <xs:attribute ref="teamid" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="usernames">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="username" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="user">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="usernames" />
        <xs:element ref="emailaddress" />
        <xs:element ref="creationdate" />
        <xs:element ref="players" />
        <xs:element ref="matches" />
        <xs:element ref="skins" />
      </xs:sequence>
      <xs:attribute ref="userid" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="users">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="user" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute ref="xml:lang" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>